
@{
    ViewBag.Title = "Patient System";
}
<header>
    <a asp-action="Index">Home</a>
    <a asp-action="PatientRegistrationForm">Add Patient</a>
    <a asp-action="PatientList">Patient List</a>
</header>
<br />
<h2>Welcome to the Patient System!</h2>