@model Patient
@{
    ViewBag.Title = "Patient Registration Form";
}
    <br />
<h2>Patient Registration Form</h2>

<form asp-action="PatientRegistrationForm" method="post">
    <table>
        <tr>
            <td><label asp-for="Name">Patient Name:</label></td>
            <td><input asp-for="Name" /></td>
        </tr>
        <tr>
            <td><label asp-for="Age">Age:</label></td>
            <td><input asp-for="Age" /></td>
        </tr>
        <tr>
            <td><label asp-for="Address">Address:</label></td>
            <td><input asp-for="Address" /></td>
        </tr>
        <tr>
            <td><label asp-for="Occupation">Occupation:</label></td>
            <td><input asp-for="Occupation" /></td>
        </tr>
        <tr>
            <td><input type="checkbox" asp-for="HasInsurance" /><label asp-for="HasInsurance">Has Insurance?</label></td>
            <td></td>
        </tr>
        <tr>
            <td><input type="checkbox" asp-for="HadOperation" /><label asp-for="HadOperation">Had Operation Before?</label></td>
            <td></td>
        </tr>
        <tr>
            <td><label asp-for="MaritalStatus">Marital Status:</label></td>
            <td>
                <select asp-for="MaritalStatus">
                    <option value="">Choose an option</option>
                    <option value="1">Single</option>
                    <option value="2">Married</option>
                    <option value="3">Divorced</option>
                    <option value="4">Widowed</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
        </tr>
        <tr>
            <td><button type="submit">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="reset">Cancel</button></td>
            <td></td>
        </tr>
    </table>
</form>