@model Patient
@{
    ViewBag.Title = "Thanks";
}

<h2>Thank You!</h2>
<p><strong>@Model.Name</strong> has been succcessfully registered as <strong>@Model.Occupation</strong> on <strong>@Model.RegistrationDate</strong></p>
